AuthType Basic
AuthName "Password Protected Area"
AuthUserFile /Applications/MAMP/htdocs/lion/metrogas/firmas/metrogas_firmas/app/.htpasswd
Require valid-user



# Generar usuario y contraseña:
# https://www.web2generators.com/apache-tools/htpasswd-generator